{% extends "layout.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="content-section">
    {% if form.errors %}
    {{ form.errors }}
    {% endif %}
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Giriş Yap</legend>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-check">
            <span>Beni Unutma</span>
            {{ form.remember(class="form-check-input") }}
        </div>
        <a class="forgot-password" href="{{ url_for('reset_request') }}">Şifremi Unuttum</a>
        <div class="form-group">
            {{form.submit(class="btn")}}
        </div>
    </form>
</div>
<div class="border-top pt-3">
    <small class="text-muted">
        Hesabın yok mu?<a href="{{url_for('login')}}" class="ml-2">Hesap Oluştur</a>
    </small>
</div>
{% endblock content %}